*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;

}
#h_one{
    padding-top:10%;
    color: rgb(245, 240, 240);
}

#training{
    background-image: url("qwe.jpg");
 width: 100%;
 height:100%;
 background-position: center;
 background-size: cover;
    /*  background-image: url("c#.jpg");фон картинкой
 width: 100%; ширина 100%
 height:100%; высота 100%
 background-position: center;позиционирование фона по центру
 background-size: cover;маштабирование фона
 */
}
body{
    font-size: 160%;
    background-color:rgba(57, 88, 134, 0.288);
    font-family: 'Caveat', cursive;
    text-align: center;
}


#ter{
    text-align: center;
     /**/
}
#zaza{
    padding: 1%;
    margin: 1%;
     /* отступы 
     внутренний 
     внешний*/
}

   
#List1{
text-align: center;
margin-left: 30%;
 /* текст по центру
 отступы слева*/
}

#Main{
    margin-left: 13%;
    margin-right: 13%; 
  /*yui-главная
  отступы-справо-слево
  */  
}

#step7{
    font-size: 210%;                          /*размер шрифта*/                
}
#step5{
    text-align: left;
                            /* mn-бесплатные книги
                           text-align: left-текст слева*/
}
#reference{
    background-color: rgba(132, 223, 159, 0.295);
    margin: 3%;
    margin-right: 8%;
    margin-left: 13%;
    border-radius: 20px;
                                      /*справка-компиляр это...
                                      background-color: rgba(132, 223, 159, 0.295);-цвет фона
                                     margin: 3%;-внешний отступ
                                     margin-right: 8%;с отступ справо
                                      margin-left: 13%;отступ слево
                                     border-radius: 20px;скругленные страницы*/
}
                                                                           
#clip{
    height: 5%;
    width: 5%;
                                                        /* высота 5%
                                                         ширина5%*/
}
#programming{
    background-color: rgba(87, 226, 129, 0.363);
    margin-right: 13%;
    margin-left: 5%;
     /*background-color: rgba(87, 226, 129, 0.363);
    margin-right: 13%;
    margin-left: 5%;
    */
}
#h2{
  margin-right: 53%;

}
#FreePascal{
    background-image: url(FreePascal.jpg);
    height: 76%;
    width: 72%;
    margin-left: 10%;
     /*background-image: url(798.jpg); фон картинкой
    height: 76%;
    width: 72%;
    margin-left: 10%;
    */
}


#button{
    margin-left: 8%;
    margin-right: 8%;

} 
#step1{
    margin-left: 15%;
}

img{
    width: 50%;
    object-fit: cover;
}

@media screen and (max-width:900px){                                           /*адаптивность*/
    img{ 
        /*height: 100%;*/
    }
   .line{
       font-size:10px;
    }
}

#down{
    width: 20%;
    margin-top: 50px;
}